<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--
    <add key="Chris-Playground" value="https://chris31389.pkgs.visualstudio.com/Chris-Playground/_packaging/Chris-Playground/nuget/v3/index.json" />
    -->
  </packageSources>
</configuration>